{% extends "base.html" %}

{% block content %}

<div class = "jumbotron jumbotron-fluid jumbotron-custom">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Welcome to the INFN Cloud Dashboard!</h1>
        <p></p>
        <p>
          <button type="button" class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" data-toggle="modal" data-target="#signinModal">Sign in</button>
        </p>
      </div>
      <div class="col">
        <img src="static/images/infn-cloud/logo_infn.png"></img>
      </div>
    </div>	  
  </div>

    <!-- Modal -->
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notify modal-info modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <p class="heading lead">Sign in with:</p>
            <!-- h4 class="modal-title w-100 font-weight-bold">Sign in</h4-->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <!--div class="md-form mb-5"-->
              <div class="row justify-content-center">
                <a class="btn btn-outline-black wow fadeInDown" data-wow-delay="0.4s" href="{{ url_for('iam.login') }}"><img src="/home/static/images/indigodc_logo.png" height="25"/>INDIGO - IAM</a>
              </div>
              {% if is_egi_aai_enabled is defined %}
              <div class="row justify-content-center">
                <a class="btn btn-outline-black wow fadeInDown" data-wow-delay="0.4s" href="{{ url_for('egiaai.login') }}"><img src="/home/static/images/egi_logo.png" height="25"/>EGI Checkin</a>
              </div>
              {% endif %}
            <!--/div-->
          </div>
        </div>
      </div>
    </div>

</div>

<style>
.jumbotron-custom {
    background: #1C486F;
    background-image: url(static/images/infn-cloud/network.png);
    background-repeat: repeat-x;
    background-position: bottom;
    color: #ffffff;
    padding-bottom:300px;
    font-weight: bold;
    font-family: 'Thasadith', sans-serif;
}
</style>
{% endblock %}

